.container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    max-width: 960px;
    aspect-ratio: 1/1;
    padding-left: auto;
    padding-right: auto;
}
.tile{
    aspect-ratio: 1/1;
    background-color: gray;
}
.rows{
    display: flex;
    flex-direction: row;
}